:root {

  font-family: 'Lato', sans-serif;

  --primary-color: #776871;
  --secondary-color: #FFFFFF;
  --text-color: #1A1818;
  --logo-color: #453C41;

  --x-margin: 30px;
}

body {
  margin: 0px;
}

p{
  font-size: 12px;
}

h5{
  font-size: 14px;
}

h4{
  font-size: 16px;
}

h3{
  font-size: 20px;
}

h2{
  font-size: 24px;
}

h1{
  font-size: 32px;
}

.swiper-button-next, .swiper-button-prev{
  height: 50px;
  width: 50px;
  position: absolute;
  color: var(--secondary-color) !important;
}

@media (min-width: 768px) {

  :root {
  --x-margin: 60px;
  }

  p{
    font-size: 14px;
  }

  h5{
    font-size: 16px;
  }

  h4{
    font-size: 18px;
  }

  h3{
    font-size: 22px;
  }

  h2{
    font-size: 26px;
  }

  h1{
    font-size: 34px;
  }
}

@media (min-width: 992px) {

  :root {
    --x-margin: 80px;
    }

  p{
    font-size: 16px;
  }

  h5{
    font-size: 18px;
  }

  h4{
    font-size: 20px;
  }

  h3{
    font-size: 24px;
  }

  h2{
    font-size: 28px;
  }

  h1{
    font-size: 36px;
  }
}

@media (min-width: 1200px) {

  :root {
    --x-margin: 80px;
    }

  p{
    font-size: 18px;
  }

  h5{
    font-size: 20px;
  }

  h4{
    font-size: 22px;
  }

  h3{
    font-size: 26px;
  }

  h2{
    font-size: 30px;
  }

  h1{
    font-size: 38px;
  }
}